.backBtn {
  display: none;
}

.chatWindow{
    display:grid;
    grid-template-rows: auto 1fr auto;
  
    border: 1px solid #15191a1f;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    height:100%;
    position: relative;
}

/* mobile */

@media (max-width:1080px){

    .chatWindow{
        position:absolute;
        inset:0;
        /* margin-top: 40px; */
        background:white;
        transform:translateX(100%);
        transition:0.3s;
    }

    /* IMPORTANT PART */

    :global(.showChat) .chatWindow{
        transform:translateX(0);
    }

    .backBtn{
        display:block;
    }

}