.card {
  max-width: 420px;
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 28px;
  border-radius: 12px;
}

.card h2 {
  text-align: center;
  padding-bottom: 17px;
}

.card input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 12px;
  background: transparent;
}

.card input:focus {
  outline: none;
  border-bottom-color: #000; 
  background: transparent;
}


.card button {
  margin-top: 18px;
  width: 100%;
  background: #0b0c0c;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
}


/* Chrome autofill override */
.card input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

.error {
  color: #d92d20;
  font-size: 14px;
  margin-top: 6px;
}

