@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* Global reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base font for entire app */
html,
body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

:global(html),
:global(body) {
  overflow-x: hidden;
}


/* Remove blue tap highlight on mobile */
* {
  -webkit-tap-highlight-color: transparent;
}

/* Remove default focus outline */
button:focus,
button:focus-visible,
a:focus,
a:focus-visible {
  outline: none;
  box-shadow: none;
}
.spinner {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: radial-gradient(farthest-side,#0f0f0f 94%,#0000) top/3.8px 3.8px no-repeat,
        conic-gradient(#0000 30%,#0f0f0f);
   -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 3.8px),#000 0);
  animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
   100% {
      transform: rotate(1turn);
   }
}