/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"); */
/* import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css'; */
/* Global reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Base font for entire app */
html,
body {
  font-family: 'Roboto', sans-serif;
}

:global(html),
:global(body) {
  overflow-x: hidden;
}


/* Remove blue tap highlight on mobile */
* {
  -webkit-tap-highlight-color: transparent;
}

/* Remove default focus outline */
button:focus,
button:focus-visible,
a:focus,
a:focus-visible {
  outline: none;
  box-shadow: none;
}

.loader {
  width: 20px;
  height: 20px;
  border: 3px solid transparent;
  border-top: 3px solid #5a6566;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.submitBtnIsFetching {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
  color: white;
  border: none;
  padding: 13px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}