.chatItem {
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 16px;
}

.active {
    background-color: #ededed;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 200px;
}

.rightSection{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.topSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.memberName {
    color: #15191a;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

.lastMessageTime {
    color:#5a6566;
    font-size: 14px;
    font-weight: 375;
    line-height: 18px;
}

.messageContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottomSection {
    width: 100%;
    overflow: hidden;
}

.messageContent {
    color:#5a6566;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.unreadMessageLenght {
    background-color: #1daa61;
    width: 20px;
    color: #fff;
    text-align: center;
    align-content: center;
    height: 20px;
    font-size: 11px;
    font-weight: 500;
    border-radius: 300px;
}

.leftSection{
    position: relative;
}

.isOnline {
    position: absolute;
    top: 5px;
    right: -5px;
    background-color: #fff;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    padding: 1px;
    align-items: center;
}

.isOnline img {
    width: 14px;
    object-fit: cover;
}