.footer {
    width: 100%;
    position: relative;
    height: 100%;

}

.sendMessageInputDev {
    position: relative;
    width: 90%;
    display: flex;
}

.sendMessageInputDev input {
    width: 100%;
    border:1px solid #15191a1f;
    padding: 12px;
    border-radius: 6px;
    outline: none;
}

.sendMessageInputDev button {
    background-color: transparent;
    border: none;
    right: 0;
    position: absolute;
}

.footerMail {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 10px 20px;
    gap: 10px;    
    bottom: 0;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid #15191a1f;
    align-items: center;
}