button {
    padding: 10px 20px;
    display: block;
}

aside {
    width: 100%;
    border-left: 1px solid #15191a1f;
    border-top: 1px solid #15191a1f;
    border-bottom: 1px solid #15191a1f;
    height: 100%;
    display: flex;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    flex-direction: column;
    overflow-y:hidden;
}

.chats::-webkit-scrollbar {
    width: 10px;
}
.chats {
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #909393 transparent;
}


@media (max-width:768px){
    aside {
        border: 1px solid #15191a1f;
        border-radius: 6px;
    }
}