.card {
  max-width: 420px;
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 32px 28px;
  border-radius: 14px;
  background: white;
}

/* Title */
.card h2 {
  text-align: center;
  margin-bottom: 26px;
  font-size: 22px;
  font-weight: 600;
}

/* ---------- Field Wrapper ---------- */
.field {
  margin-bottom: 22px;
}

/* Inputs */
.input {
  width: 100%;
  padding: 12px 4px;
  font-size: 15px;
  border: none;
  /* border-bottom: 1px solid #dcdcdc; */
  outline: none;
  background: transparent;
}



/* Password row (input + eye on same line) */
.passwordRow {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dcdcdc;
}


.passwordRow:focus {
  border-bottom-color: #060707;
}

/* Make password input take remaining width */
.passwordRow .input {
  flex: 1;
   
  /* Chrome autofill override */
 -webkit-box-shadow: 0 0 0px 1000px white inset;    
 transition: background-color 5000s ease-in-out 0s;

}

/* Eye button */
.eyeBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  flex-shrink: 0;
}

.eyeBtn:hover {
  opacity: 1;
}

/* ---------- Errors ---------- */
.error {
  margin-top: 6px;
  font-size: 12px;
  color: #d92d20;
}
.serverErrorAuth {
  text-align: center;
  font-size: 16px;
  font-weight: 375;
  line-height: 22px;
  color: #d92d20;
}

/* ---------- Continue Button ---------- */
.submitBtn {
  width: 100%;
  background: #0f0f0f;
  color: white;
  border: none;
  padding: 13px;
  margin-top: 10px;
  border-radius: 10px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.submitBtn:hover {
  opacity: 0.95;
}

/* Forgot */
.link {
  display: block;
  margin-top: 18px;
  text-align: center;
  color: #080808;
  cursor: pointer;
  font-size: 14px;
}

/* ---------- Mobile ---------- */
@media (max-width: 480px) {
  .card {
    padding: 24px 20px;
  }

  .card h2 {
    font-size: 20px;
  }

 .eyeBtn svg {
    width: 18px;
    height: 18px;
  }
}
